<div class="checkin-container">
  
  <!-- Título do evento -->
  <h2 class="event-title">
    Check-in – {{ nomeEvento }}
  </h2>
  
  <!-- Busca -->
  <div class="search-box">
    <input type="text" placeholder="Buscar participante..." (input)="filtro = $any($event.target).value"/>
    <button>
      🔍
    </button>
    
  </div>
  
  <button class="bg-pink-600 text-white px-4 py-2 rounded btn-qr-code" (click)="lerQrCode()">
    📷 Ler QR Code
  </button>
  

  <div class="scanner-container" *ngIf="cameraAtiva">

    <video #video id="video" class="scanner-video"></video>

    <div class="scanner-overlay">
        <div class="scanner-frame"></div>
        <div class="scanner-line"></div>
    </div>

  </div>
  <!-- Abas -->
  <div class="tabs">
    <button [class.active]="abaAtiva === 'pendentes'" (click)="abaAtiva = 'pendentes'">
      Check-in pendente ({{pendente}})
    </button>
    
    <button [class.active]="abaAtiva === 'realizados'" (click)="abaAtiva = 'realizados'">
      Check-in realizado ({{realizado}})
    </button>
  </div>
  
  <!-- Lista -->
  <div class="cards-grid">

    <div class="card-checkin" *ngFor="let p of participantesFiltrados">
      
      <small class="codigo">{{ p.codigoInscricao }}</small>
      
      <h3>{{ p.nome }}</h3>
      <p>{{ p.email }}</p>
      <p class="grupo">{{ p.grupoOracao }}</p>
      
      <button *ngIf="!p.checkIn" class="btn-checkin" (click)="fazerCheckin(p)">Fazer check-in</button>
      
      <span *ngIf="p.checkIn" class="checkin-ok">✔ Check-in realizado</span>
      
    </div>
  </div>
</div>
