<!-- Navbar com rotas -->


<!-- Onde os componentes vão ser renderizados -->
<app-spinner></app-spinner>
<div class="pt-20">
  <header class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-pink-700">Checkin - RCC Londrina</h1>
    <button class="md:hidden text-gray-700" (click)="menuAberto = !menuAberto">
      <i class="fa fa-bars text-2xl"></i>
    </button>
    <nav class="hidden md:flex space-x-6">
      
    </nav>
  </div>

  <!-- Menu Mobile -->
  <div *ngIf="menuAberto" class="bg-pink-50 md:hidden border-t border-pink-100">
    <nav class="flex flex-col space-y-2 py-3 px-4">
      
    </nav>
  </div>
</header>
  <router-outlet></router-outlet>
</div>
