name: CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Login Docker Hub (seguro)
      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: williambr2022
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build + Push imagem
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            williambr2022/rcc-evento-checkin-front:latest
            williambr2022/rcc-evento-checkin-front:${{ github.sha }}
